In [61]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
There is no [win32] chromedriver for browser 91.0.4472 in cache
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Andrew\.wdm\drivers\chromedriver\win32\91.0.4472.101]

In [3]:
url = 'https://www.zillow.com/va/2_p/?searchQueryState=%7B%22usersSearchTerm%22%3A%22Virginia%22%2C%22mapBounds%22%3A%7B%22west%22%3A-83.09035759375%2C%22east%22%3A-75.75149040625%2C%22south%22%3A34.320938002477064%2C%22north%22%3A41.53753164462093%7D%2C%22regionSelection%22%3A%5B%7B%22regionId%22%3A56%2C%22regionType%22%3A2%7D%5D%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22ah%22%3A%7B%22value%22%3Atrue%7D%7D%2C%22isListVisible%22%3Atrue%2C%22mapZoom%22%3A7%2C%22pagination%22%3A%7B%22currentPage%22%3A2%7D%7D'
browser.visit(url)

In [67]:
housePrices = []
houseDetails = []
houseZip = []

for x in range(1, 21):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    prices = soup.find_all('div', class_='list-card-price')
    details = soup.find_all('ul', class_='list-card-details')
    address = soup.find_all('address', class_="list-card-addr")
    
#     bedroom
#     bathroom
#     sqrft

    for i, price in enumerate(prices):        
        zipcode= address[i].text[len(address[i].text) - 5:]
        
        housePrices.append(price.text)
        houseDetails.append(details[i].text)
        houseZip.append(zipcode)
        
#         print(price.text+'\n', details[i].text+'\n', "zipcode: "+zipcode+'\n')

    browser.find_by_xpath('//*[@id="grid-search-results"]/div[2]/nav/ul/li[10]/a')

In [73]:
house_df = pd.DataFrame(
    {
        'Price': housePrices,
        'Zipcode': houseZip
}


)

In [85]:
house_df[house_df.columns[0]] = house_df[house_df.columns[0]].replace('[\$,]', '', regex=True).astype(float)

In [86]:
house_df

         Price Zipcode
0    2100000.0   22102
1     199000.0   24101
2     560000.0   23185
3     400000.0   23188
4     219900.0   24502
..         ...     ...
795   245000.0   22980
796   369000.0   20109
797  1025000.0   22314
798   225000.0   22630
799   525000.0   22312

[800 rows x 2 columns]

In [88]:
house_df.groupby('Zipcode').count()

         Price
Zipcode
20109       20
20155       20
20164       20
20186       20
20191       20
22041       20
22102       20
22153       40
22312       20
22314       20
22407       40
22630       20
22903       20
22980       20
23005       20
23072       20
23112       20
23185       20
23188       20
23236       20
23434       20
23435       20
23452       20
23454       20
23464       20
23518       20
23693       20
23803       20
24012       20
24018       40
24101       40
24293       20
24502       20
24523       20
24572       40

In [87]:
house_df.groupby('Zipcode')['Price'].mean()

Zipcode
20109     369000.0
20155     345000.0
20164     399900.0
20186     625000.0
20191     549900.0
22041     349000.0
22102    2100000.0
22153     700000.0
22312     525000.0
22314    1025000.0
22407     552450.0
22630     225000.0
22903    1045000.0
22980     245000.0
23005     470000.0
23072     375000.0
23112     380000.0
23185     560000.0
23188     400000.0
23236     519950.0
23434      85000.0
23435     335000.0
23452     305000.0
23454     255000.0
23464     299000.0
23518     435000.0
23693     354500.0
23803     259500.0
24012     199500.0
24018     392475.0
24101     320750.0
24293     128000.0
24502     219900.0
24523     229900.0
24572     329950.0
Name: Price, dtype: float64